<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666942162183-dlr2ditqbcn3hak7iavgqmd3gj6bhukc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666942162183-dlr2ditqbcn3hak7iavgqmd3gj6bhukc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>666942162183-t4fq868cdjar96vrne5kcmne36cj5q2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS5mM_tAihsGQidjsJ0hWr4pZ875UVmFY</string>
	<key>GCM_SENDER_ID</key>
	<string>666942162183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUdemy</string>
	<key>PROJECT_ID</key>
	<string>flutterudemy-158e6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterudemy-158e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666942162183:ios:a87654a43a28d95326b1a2</string>
</dict>
</plist>